/* styles/3-common.css */

body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    position: relative;
    padding-bottom: 4rem;
  }
  